@model EJ1.Models.ViewModels.EditarPersonaVM

<h2>Editar Persona</h2>

@{
    var vm = Model ?? new EJ1.Models.ViewModels.EditarPersonaVM();
}

<form asp-action="EditarPersona" method="post">

    <div class="form-group">
        <label>Nombre</label>
        @Html.TextBoxFor(m => vm.Persona.Nombre, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Apellidos</label>
        @Html.TextBoxFor(m => vm.Persona.Apellidos, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Edad</label>
        @Html.TextBoxFor(m => vm.Persona.Edad, new { @class = "form-control", type = "number", min = "0" })
    </div>

    <div class="form-group">
        <label>Email</label>
        @Html.TextBoxFor(m => vm.Persona.Email, new { @class = "form-control", type = "email" })
    </div>

    <div class="form-group">
        <label>Departamento</label>

        @Html.DropDownListFor(m => vm.Persona.DepartamentoId, vm.DepartamentosSelectList, "Seleccione departamento", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
<p>@Html.ActionLink("Volver al inicio", "Index", "Home")</p>
