@model EJ1.Models.Entities.clsPersona
@{
    ViewBag.Title = "Editar Persona";
}

<h2>Editar Persona</h2>

<form method="post" action="#">
    <div class="form-group">
        <label>Nombre</label>
        @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Apellidos</label>
        @Html.TextBoxFor(m => m.Apellidos, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Edad</label>
        @Html.TextBoxFor(m => m.Edad, new { @class = "form-control", type = "number", min = "0" })
    </div>

    <div class="form-group">
        <label>Email</label>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email" })
    </div>

    <div class="form-group">
        <label>Departamento</label>
        @Html.DropDownList("Departamento.IdDepartamento", (SelectList)ViewBag.Departamentos, "Seleccione departamento", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
